{% extends "polls/event_detail_base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block event_nav_details %}active{% endblock %}
{% block event_content %}
    <br/>
    <span><strong>Start Time:</strong> {{ event.start_time_formatted_utc }}</span>
    <br />
    <span><strong>End Time:</strong> {{ event.end_time_formatted_utc }}</span>
    <br/>
    <br/>
    <span><strong>Number of Polls:</strong> {{ event.polls.count }}</span>
    <br/>
    <span><strong>Number of Organisers:</strong> {{ event.users_organisers.count }}</span>
    <br/>
    <span><strong>Number of Trustees:</strong> {{ event.users_trustees.count }}</span>
    <br/>
    <span><strong>Number of Voters:</strong> {{ event.voters.count }}</span>
{% endblock %}
