{% extends "bases/bootstrap-with-nav.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% comment %} is it safe really? {% endcomment %}
{% block sk-file-name %}{{ event.title|safe }}{% endblock %}

{% block content %}

<div class="container">
  <h2>Trustee Event Setup for Event '{{ event.title }}'</h2>
  <hr/>
  <h4>Key Generation For: {{ user_email }}</h4>
  <br/>
  <div class="panel panel-default">
    <div class="panel-heading"><strong>Step 1: Generate and Download Your Secret Key</strong></div>
    <div class="panel panel-body">
      <input id="secret-key" class="textinput textInput form-control" type="text"/>
      <input id="event-param" type="text" value="{{event.EID}}" hidden/>
      <div class="alert alert-warning" role="alert" style="margin-top: 0.75em;">
          <strong>Warning:</strong> This key can <strong>NOT</strong> be recalculated if forgotten or lost! Ensure you back this up.
      </div>
      <button id="keygen-btn" onclick="demosEncrypt.generateKeys()" class="btn btn-success">Generate</button>
      <a id="download-btn" role="button" href="#" class="btn btn-primary" disabled>Download</a>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading"><strong>Step 2: Submit Your Public Key</strong></div>
    <div class="panel panel-body">
        {% load crispy_forms_tags %}
        <form method="post" action="" class="">
            {% crispy form %}
            <p>Ensure your secret key is backed up before submitting.</p>
            <input id="public-submit" class="btn btn-danger" type="submit" value="Submit" disabled/>
        </form>
    </div>
  </div>
</div>

{% endblock %}
