{% extends "bases/bootstrap-with-nav.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block content %}

<div class="container">
    <a href="{% url 'polls:index' %}"><< Back to Events List</a>
    {% if is_organiser %}
        <div>
            <!-- Heading -->
            <div class="col-xs-7 col-sm-9 col-md-10">
                <h2>Event: {{object.title}}</h2>
            </div>
            <!-- Edit Button -->
            <div class="col-xs-5 col-sm-3 col-md-2 marginTopEditButton">
                <a href="{% url 'polls:edit-event' event.id %}" class="btn btn-primary" style="float: right;">
                    <span class="fa fa-pencil"></span> Edit
                </a>
            </div>
        </div>
    {% else %}
        <br/>
        <h2>Event: {{object.title}}</h2>
    {% endif %}
    <div class="overviewPadding {% if is_organiser %}marginTopOverview{% endif %}">
        <hr/>
        <span>By: {{object.users_organisers.all}}</span>
        <br/>
        <span>Ready / Prepared: {{ object.prepared }}</span>
        <br/>
        <span>Event Status: {{ object.status }}</span>
    </div>
    <br/>
    <ul class="nav nav-tabs">
        <li class="{% block event_nav_details %}{% endblock %}">
          <a href="{% url 'polls:view-event' event.id %}"><strong>Summary</strong></a>
        </li>
        <li class="{% block event_nav_polls %}{% endblock %}">
          <a href="{% url 'polls:event-polls' event.id %}"><strong>Polls ({{ object.polls.count }})</strong></a>
        </li>
        <li class="{% block event_nav_organisers %}{% endblock %}">
          <a href="{% url 'polls:event-organisers' event.id %}"><strong>Entities</strong></a>
        </li>
        {% if is_organiser %}
          <li class="{% block event_nav_launch %}{% endblock %}">
            <a href="{% url 'polls:launch-event' event.id %}"><strong>Advanced</strong></a>
          </li>
        {% endif %}
    </ul>
    {% block event_content %}{% endblock %}
 </div>

{% endblock %}
